account: <your account number>
bucketName: <your bucket name>
layer: <arn of the lambda layer>
failure_conf: '{"delay": 400, "isEnabled": false, "error_code": 404, "exception_msg": "I failed", "rate": 1}'